body{
    background-color: #0a192f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
}

header{
    display:flex;
    justify-content: flex-end;
    gap:60px;
    margin-right:2vw;


}

.section{
    color:#8892b0;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 35vw; 
    padding-top: 30vh;
    font-weight: 200;
    line-height: 0.9;
    
}

#intro{
    padding-bottom:20vh;
}

hr{
    height:1px;
    border: 0;
    border-bottom: 1px solid #8892b0;
    padding-bottom: 1px;
}

#about h1{
    font-size: 32px;
}

#aboutExceptForTitle{
    display:flex;
    align-items: flex-start;
    gap: 12px;
}

#texts{
    flex: 1;
}

img{
    width:10vw;
    filter: sepia(30%) hue-rotate(310deg) saturate(150%);
    object-fit: cover;
    border-radius: 50%;
    flex-shrink:0;

}

#contact{
    text-align: center;
    line-height: 0.5;
    padding-bottom: 20vh;
}

#contact h4{
    margin: 0 auto;
    width: 25vw;
}

#emailButton {
    margin-top:70px
}

#emailButton a{
    border:solid #f72585 2px;
    width: 140px;
    margin: 0 auto;
    height:50px;
    border-radius: 9px;
    padding: 20px 30px;
    color: #f72585;
    font-weight:700;
}

#emailButton a:link, #emailButton a:visted{
    color:#f72585;
    text-decoration: none;
}

#emailButton a:hover, #emailButton a:active{
    
    box-shadow: 0 0 6px #f72585;
    text-shadow: 0 0 4px #f72585;
}

#credits{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    color:#8892b0
}

h1{
    font-size:50px;
    
}

h4{
    line-height: 1.3;
    font-weight: 600;
}

#lightSlate{
    color: #ccd6f6;
}

#magenta{
    color:#f72585;
}

a:link, a:visited{
    color:white;
    text-decoration: none;
}

a:hover, a:active{
    color:#f72585;
    transition: color 0.3s ease;
}


#verticalLine{
    border: 0;
    border-right: 1px solid #8892b0;
    bottom: 1px;
    left: 60px;
    position:fixed;
    height:95px;
}

#verticalLine2{
    border: 0;
    border-right: 1px solid #8892b0;
    bottom: 1px;
    right: 60px;
    position:fixed;
    height:95px;
}

#verticalText a:link, #verticalText a:visited{
    position:fixed;
    right: -45px;
    bottom: 220px;
    transform: rotate(90deg);
    color: #8892b0;
    font-weight:500;
}

#verticalText a:hover, #verticalText a:active{
    color:#f72585;
}

.fa-brands  {
    color: #8892b0;
    position: fixed;
    font-size:25px;
    transition: color 0.3s ease;
}
.fa-linkedin-in{
    bottom: 265px;
    left: 45px;   
}

.fa-github{
    bottom:205px;
    left: 45px;
}

.fa-instagram{
    bottom: 145px;
    left:45px;
}

i:hover{
    color:#f72585;
}

.fa-code{
    position:fixed;
    font-size: 40px;
    top: 27px;
    left: 37px;
    color:#f72585;

}






