body{
    background-color: #0a192f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
}

header{
    display:flex;
    justify-content: flex-end;
    gap:60px;
    margin-right:2vw;


}

.section{
    color:#8892b0;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width: 35vw; 
    padding-top: 30vh;
    font-weight: 200;
    line-height: 0.9;
    
}

#intro{
    padding-bottom:20vh;
}

#about h1{
    font-size: 32px;
}

#aboutExceptForTitle{
    display:flex;
    align-items: flex-start;
    gap: 12px;
}

#texts{
    flex: 1;
}

img{
    width:10vw;
    filter: sepia(30%) hue-rotate(310deg) saturate(150%);
    object-fit: cover;
    border-radius: 50%;
    flex-shrink:0;

}

#contact{
    text-align: center;
    line-height: 0.5;
    padding-bottom: 20vh;
}

#contact h4{
    margin: 0 auto;
    width: 25vw;
}

#emailButton {
    margin-top:70px
}

#emailButton a{
    border:solid #f72585 2px;
    width: 140px;
    margin: 0 auto;
    height:50px;
    border-radius: 9px;
    padding: 20px 30px;
    color: #f72585;
    font-weight:700;
}

#emailButton a:link, #emailButton a:visted{
    color:#f72585;
    text-decoration: none;
}

#emailButton a:hover, #emailButton a:active{
    
    box-shadow: 0 0 6px #f72585;
    text-shadow: 0 0 4px #f72585;
}

#credits{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    color:#8892b0
}

h1{
    font-size:50px;
    
}

h4{
    line-height: 1.3;
    font-weight: 600;
}

#lightSlate{
    color: #ccd6f6;
}

#magenta{
    color:#f72585;
}

a:link, a:visited{
    color:white;
    text-decoration: none;
}

a:hover, a:active{
    color:#f72585;
}




